In [1]:
#Problem 1


dict_1={'A':[1,0,0,1], 'B':[0,1,1,0], 'C':[0,1,1,0], 'D':[1,0,0,1]}
new = pd.DataFrame.from_dict(dict_1)
new

   A  B  C  D
0  1  0  0  1
1  0  1  1  0
2  0  1  1  0
3  1  0  0  1

In [43]:
#Problem 2a
import pandas as pd
import requests

def load():

 url = 'https://raw.githubusercontent.com/XccelerateOrg/aug_2022_pandas_week3-JonasChan0414/master/data/openrice.csv?token=GHSAT0AAAAAABZDGRRPSCNGPRSQ2HJTXGPWYZUKZXQ'
 df_1 = pd.read_csv(url,index_col=0)
 df_1.reset_index(drop=True, inplace=True)
 print(df_1)

load()

                                             address  bookmarks  dislikes  \
0                     Shop J-K., 200 Hollywood Road,       5838         6
1                           G/F, 108 Hollywood Road,       3492         2
2                           G/F, 206 Hollywood Road,       5517         5
3  Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...       1173         1
4                          G/F, 38 Queens Road West,       1064         1
5  Shop 1, G/F, King Ho Building, 41-49 Aberdeen ...       3300         0
6                               G/F, 12 Tung Street,       5101         3
7  G/F, Sea View Commercial Building, 21-24 Conna...        591         3
8  Shop 1B, G/F, Cheungs Building, 1 Wing Lok Str...       1224         0
9                             G/F, 8 Hillier Street,       1452         0

         food_type  likes                              name number_of_reviews  \
0  Hong Kong Style     78         For Kee Restaurant 科記咖啡餐室     (133 Reviews)
1    International     20  Blue · Butcher & Meat Specialist      (30 Reviews)
2             Thai     31                         Chachawan      (43 Reviews)
3  Hong Kong Style     23                 Capital Café 華星冰室      (39 Reviews)
4           Indian     50              Namaste Kitchen 滋味廚房      (57 Reviews)
5       Vietnamese     21                Bun Cha Vietnamese      (33 Reviews)
6          Western     14               Halfway Coffee 半路咖啡      (25 Reviews)
7        Guangdong     30        Fung Shing Restaurant 鳳城酒家      (37 Reviews)
8          Western     28                     Veggi Monster      (32 Reviews)
9         Japanese     28                         Pokéworld      (37 Reviews)

  price_range
0   Below $50
1    $201-400
2    $201-400
3   Below $50
4     $51-100
5    $101-200
6   Below $50
7    $101-200
8     $51-100
9     $51-100

In [55]:
#Problem 2b
def makeCategory():
    import pandas
    import numpy
    df_1=df.assign(price_category = ["Cheap", "Very Expensive", 
                                   "Very Expensive", "Cheap", "Not Cheap", 
                                   "Expensive", "Cheap","Expensive", "Not Cheap", 
                                   "Not Cheap"])
    
    column_1 = df_1.loc[:,"price_category"]
    print(column_1)
    
makeCategory()

0             Cheap
1    Very Expensive
2    Very Expensive
3             Cheap
4         Not Cheap
5         Expensive
6             Cheap
7         Expensive
8         Not Cheap
9         Not Cheap
Name: price_category, dtype: object

In [109]:
#Problem 2c
def totalDislike():
    res = df_1[["price_range","dislikes"]]
    table_1= res.groupby("price_range").sum("dislikes")
    print(table_1)
    
totalDislike()

             dislikes
price_range
$101-200            3
$201-400            7
$51-100             1
Below $50          10

In [137]:
def totalBookmarks():
    res_2 = df_1[["food_type","bookmarks"]]
    table_2= res_2.groupby("food_type").sum("bookmarks")
    
    print(table_2)

    

totalBookmarks()

                 bookmarks
food_type
Guangdong              591
Hong Kong Style       7011
Indian                1064
International         3492
Japanese              1452
Thai                  5517
Vietnamese            3300
Western               6325

In [103]:
#Problem 2e
def extractReview():
    res = df_1["number_of_reviews"]
    print (res)
    
extractReview()

0    (133 Reviews)
1     (30 Reviews)
2     (43 Reviews)
3     (39 Reviews)
4     (57 Reviews)
5     (33 Reviews)
6     (25 Reviews)
7     (37 Reviews)
8     (32 Reviews)
9     (37 Reviews)
Name: number_of_reviews, dtype: object